<h2 [ngStyle]="{ color: 'red' }">Pick a highlight color</h2>
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

<div>
  <input type="radio" name="colors" (click)="color = 'lightgreen'" />Green
  <input type="radio" name="colors" (click)="color = 'yellow'" />Yellow
  <input type="radio" name="colors" (click)="color = 'cyan'" />Cyan
</div>
<select (change)="setColor($event)">
  <option value="green">green</option>
  <option value="blue">blue</option>
</select>
<h2 [appTextcolor]="color">Details:</h2>
<h2 [ngStyle]="{ color: color }">Test color change</h2>

<li *ngFor="let hero of heroes">
  <span matBadge="{{ hero.id }}" matBadgeOverlap="false">id:</span>
  <a appHighlighter routerLink="/detail/{{ hero.id }}">{{ hero.name }}</a>
  <button
    [ngClass]="{ selected: hero === selectHero }"
    type="button"
    (click)="onSelect(hero)"
  ></button>
</li>
<app-hero-detail [hero]="selectHero"></app-hero-detail>
